# system files
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# codeigniter deployment-specific files
.htaccess
application/config/config.php
application/config/database.php
application/cache/*

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

# folder action for removing cache in _dev
remove_cache.workflow

# VM
.vagrant

application/controllers/.idea/controllers.iml

application/controllers/.idea/modules.xml

application/controllers/.idea/vcs.xml

application/controllers/.idea/workspace.xml

application/controllers/nrlist.php
